$color-background-black: rgba(32, 33, 35, 1);
$color-background-gray: rgba(52, 53, 65, 1);
$color-background-light-gray: rgba(68, 70, 84, 1);


$color-text-white: rgba(255, 255, 255, 1);
$color-text-gray: rgba(197, 197, 210, 1);


$color-border-gray: hsla(0, 0%, 100%, .2);

